body {
   margin: 0;
}

.container {
    max-width: 1400px;
    margin: 0 auto;
}

//.testimonials {
//    background: url("../img/who_we_are.jpg") no-repeat ;
//    background-size: cover;
//}

.testimonials__block {
    padding-top: 60px;
    padding-bottom: 60px;
}

.testimonials__title {
    font-weight: bold;
    font-size: 56px;
    color: #FFFFFF;
}

.testimonials__wrap-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 50px;
    margin-bottom: 50px;
}

.testimonials__card {
    max-width: 30%;
    margin: 0 20px;
    min-width: 300px;
}

.testimonials__user-name {
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 600;
}

.testimonials__box-stars {
    display: flex;
    flex-wrap: nowrap;
    padding-top: 20px;
}

.testimonials__user-desc {
    padding-top: 15px;
    font-size: 18px;
    color: #FFFFFF;
}

.testimonials__link {
    font-weight: bold;
    font-size: 24px;
    color: #FFFFFF;
    text-decoration: none;
}

.header__navigation {
  display: flex;
  flex-wrap: wrap;
}

.header__link {
  color: #FFFFFF;
  font-size: 18px;
  margin-right: 20px;
}

.header__phone {
  color: #F6674D;
  font-size: 18px;
}

.header__block {
  padding: 20px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.header__button-contact-us {
  padding: 8px 20px;
  background: #F6674D;
  border-color: #F6674D;
  border-radius: 20px;
  border-width: 2px;
  cursor: pointer;
  text-transform: uppercase;
}

.img-who-we-are {
  position: absolute;
  z-index: -1;
  width: 100%;
  max-height: 580px;
  object-fit: cover;
}
